@font-face {
      font-family: 'appkit-font';
      src: url('../font/appkit-font.eot?80336095');
      src: url('../font/appkit-font.eot?80336095#iefix') format('embedded-opentype'),
           url('../font/appkit-font.woff?80336095') format('woff'),
           url('../font/appkit-font.ttf?80336095') format('truetype'),
           url('../font/appkit-font.svg?80336095#appkit-font') format('svg');
      font-weight: normal;
      font-style: normal;
    }
     
     
    .appkiticon
    {
      font-family: "appkit-font";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      margin-right: .2em;
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */
      line-height: 1em;
     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      margin-left: .2em;
     
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }

.icon-letter-x:before { content: '\78'; } /* 'x' */
.icon-add-user-fill:before { content: '\e800'; } /* '' */
.icon-add-user-outline:before { content: '\e801'; } /* '' */
.icon-airplane-fill:before { content: '\e802'; } /* '' */
.icon-airplane-outline:before { content: '\e803'; } /* '' */
.icon-alert-fill:before { content: '\e804'; } /* '' */
.icon-alert-outline:before { content: '\e805'; } /* '' */
.icon-archive-fill:before { content: '\e806'; } /* '' */
.icon-archive-outline:before { content: '\e807'; } /* '' */
.icon-arrow-decrease-fill:before { content: '\e808'; } /* '' */
.icon-arrow-decrease-outline:before { content: '\e809'; } /* '' */
.icon-arrow-down-fill:before { content: '\e80a'; } /* '' */
.icon-arrow-down-outline:before { content: '\e80b'; } /* '' */
.icon-arrow-increase-fill:before { content: '\e80c'; } /* '' */
.icon-arrow-increase-outline:before { content: '\e80d'; } /* '' */
.icon-arrow-left-fill:before { content: '\e80e'; } /* '' */
.icon-arrow-left-outline:before { content: '\e80f'; } /* '' */
.icon-arrow-right-fill:before { content: '\e810'; } /* '' */
.icon-arrow-right-outline:before { content: '\e811'; } /* '' */
.icon-arrow-up-fill:before { content: '\e812'; } /* '' */
.icon-arrow-up-outline:before { content: '\e813'; } /* '' */
.icon-audience-fill:before { content: '\e814'; } /* '' */
.icon-audience-outline:before { content: '\e815'; } /* '' */
.icon-avatar-fill:before { content: '\e816'; } /* '' */
.icon-avatar-outline:before { content: '\e817'; } /* '' */
.icon-bar-chart-fill:before { content: '\e818'; } /* '' */
.icon-bar-chart-outline:before { content: '\e819'; } /* '' */
.icon-brightness-fill:before { content: '\e81a'; } /* '' */
.icon-brightness-outline:before { content: '\e81b'; } /* '' */
.icon-bubble-plot-fill:before { content: '\e81c'; } /* '' */
.icon-bubble-plot-outline:before { content: '\e81d'; } /* '' */
.icon-building-fill:before { content: '\e81e'; } /* '' */
.icon-building-outline:before { content: '\e81f'; } /* '' */
.icon-calendar-fill:before { content: '\e820'; } /* '' */
.icon-calendar-outline:before { content: '\e821'; } /* '' */
.icon-camera-fill:before { content: '\e822'; } /* '' */
.icon-camera-outline:before { content: '\e823'; } /* '' */
.icon-center-map-fill:before { content: '\e824'; } /* '' */
.icon-center-map-outline:before { content: '\e825'; } /* '' */
.icon-check-mark-fill:before { content: '\e826'; } /* '' */
.icon-check-mark-outline:before { content: '\e827'; } /* '' */
.icon-circle-checkmark-fill:before { content: '\e828'; } /* '' */
.icon-circle-checkmark-outline:before { content: '\e829'; } /* '' */
.icon-circle-delete-outline:before { content: '\e82a'; } /* '' */
.icon-circle-delete-fill:before { content: '\e82b'; } /* '' */
.icon-circle-minus-fill:before { content: '\e82c'; } /* '' */
.icon-circle-more-fill:before { content: '\e82d'; } /* '' */
.icon-circle-minus-outline:before { content: '\e82e'; } /* '' */
.icon-circle-more-outline:before { content: '\e82f'; } /* '' */
.icon-circle-plus-fill:before { content: '\e830'; } /* '' */
.icon-circle-plus-outline:before { content: '\e831'; } /* '' */
.icon-circle-save-fill:before { content: '\e832'; } /* '' */
.icon-circle-save-outline:before { content: '\e833'; } /* '' */
.icon-clinic-fill:before { content: '\e834'; } /* '' */
.icon-clinic-outline:before { content: '\e835'; } /* '' */
.icon-close-fill:before { content: '\e836'; } /* '' */
.icon-close-outline:before { content: '\e837'; } /* '' */
.icon-cloud-fill:before { content: '\e838'; } /* '' */
.icon-cloud-outline:before { content: '\e839'; } /* '' */
.icon-comment-fill:before { content: '\e83a'; } /* '' */
.icon-comment-outline:before { content: '\e83b'; } /* '' */
.icon-compass-fill:before { content: '\e83c'; } /* '' */
.icon-compass-outline:before { content: '\e83d'; } /* '' */
.icon-confirmed-fill:before { content: '\e83e'; } /* '' */
.icon-confirmed-outline:before { content: '\e83f'; } /* '' */
.icon-convert-outline:before { content: '\e840'; } /* '' */
.icon-convert-fill:before { content: '\e841'; } /* '' */
.icon-delete-fill:before { content: '\e842'; } /* '' */
.icon-delete-outline:before { content: '\e843'; } /* '' */
.icon-doc-fill:before { content: '\e844'; } /* '' */
.icon-doc-outline:before { content: '\e845'; } /* '' */
.icon-door-closed-fill:before { content: '\e846'; } /* '' */
.icon-door-closed-outline:before { content: '\e847'; } /* '' */
.icon-door-opened-fill:before { content: '\e848'; } /* '' */
.icon-door-opened-outline:before { content: '\e849'; } /* '' */
.icon-down-chevron-circle-fill:before { content: '\e84a'; } /* '' */
.icon-down-chevron-circle-outline:before { content: '\e84b'; } /* '' */
.icon-down-chevron-fill:before { content: '\e84c'; } /* '' */
.icon-down-chevron-outline:before { content: '\e84d'; } /* '' */
.icon-download-fill:before { content: '\e84e'; } /* '' */
.icon-download-light-fill:before { content: '\e84f'; } /* '' */
.icon-upload-light-outline:before { content: '\e850'; } /* '' */
.icon-download-outline:before { content: '\e851'; } /* '' */
.icon-downtrend-fill:before { content: '\e852'; } /* '' */
.icon-downtrend-outline:before { content: '\e853'; } /* '' */
.icon-duplicate-fill:before { content: '\e854'; } /* '' */
.icon-duplicate-outline:before { content: '\e855'; } /* '' */
.icon-edit-fill:before { content: '\e856'; } /* '' */
.icon-edit-outline:before { content: '\e857'; } /* '' */
.icon-email-fill:before { content: '\e858'; } /* '' */
.icon-email-outline:before { content: '\e859'; } /* '' */
.icon-end-process-fill:before { content: '\e85a'; } /* '' */
.icon-end-process-outline:before { content: '\e85b'; } /* '' */
.icon-expand-fill:before { content: '\e85c'; } /* '' */
.icon-expand-outline:before { content: '\e85d'; } /* '' */
.icon-file-fill:before { content: '\e85e'; } /* '' */
.icon-file-outline:before { content: '\e85f'; } /* '' */
.icon-filter-fill:before { content: '\e860'; } /* '' */
.icon-filter-outline:before { content: '\e861'; } /* '' */
.icon-folder-closed-fill:before { content: '\e862'; } /* '' */
.icon-folder-closed-outline:before { content: '\e863'; } /* '' */
.icon-folder-opened-fill:before { content: '\e864'; } /* '' */
.icon-folder-opened-outline:before { content: '\e865'; } /* '' */
.icon-globe-fill:before { content: '\e866'; } /* '' */
.icon-globe-map-fill:before { content: '\e867'; } /* '' */
.icon-globe-map-outline:before { content: '\e868'; } /* '' */
.icon-globe-outline:before { content: '\e869'; } /* '' */
.icon-grid-view-fill:before { content: '\e86a'; } /* '' */
.icon-grid-view-outline:before { content: '\e86b'; } /* '' */
.icon-hb-3qtr-lft:before { content: '\e86c'; } /* '' */
.icon-hb-3qtr-rt:before { content: '\e86d'; } /* '' */
.icon-hb-empty:before { content: '\e86e'; } /* '' */
.icon-hb-full-dot:before { content: '\e86f'; } /* '' */
.icon-hb-full:before { content: '\e870'; } /* '' */
.icon-hb-half-btm:before { content: '\e871'; } /* '' */
.icon-hb-half-lft:before { content: '\e872'; } /* '' */
.icon-hb-half-rt:before { content: '\e873'; } /* '' */
.icon-hb-half-top:before { content: '\e874'; } /* '' */
.icon-hb-qtr-lft:before { content: '\e875'; } /* '' */
.icon-hb-qtr-rt:before { content: '\e876'; } /* '' */
.icon-help-question-fill:before { content: '\e877'; } /* '' */
.icon-help-question-outline:before { content: '\e878'; } /* '' */
.icon-home-fill:before { content: '\e879'; } /* '' */
.icon-home-outline:before { content: '\e87a'; } /* '' */
.icon-horizontal-more-fill:before { content: '\e87b'; } /* '' */
.icon-horizontal-more-outline:before { content: '\e87c'; } /* '' */
.icon-hospital-fill:before { content: '\e87d'; } /* '' */
.icon-hospital-outline:before { content: '\e87e'; } /* '' */
.icon-image-fill:before { content: '\e87f'; } /* '' */
.icon-image-outline:before { content: '\e880'; } /* '' */
.icon-information-fill:before { content: '\e881'; } /* '' */
.icon-information-outline:before { content: '\e882'; } /* '' */
.icon-left-chevron-circle-fill:before { content: '\e883'; } /* '' */
.icon-left-chevron-circle-outline:before { content: '\e884'; } /* '' */
.icon-left-chevron-fill:before { content: '\e885'; } /* '' */
.icon-left-chevron-outline:before { content: '\e886'; } /* '' */
.icon-like-fill:before { content: '\e887'; } /* '' */
.icon-like-outline:before { content: '\e888'; } /* '' */
.icon-link-fill:before { content: '\e889'; } /* '' */
.icon-link-outline:before { content: '\e88a'; } /* '' */
.icon-list-view-fill:before { content: '\e88b'; } /* '' */
.icon-list-view-outline:before { content: '\e88c'; } /* '' */
.icon-location-fill:before { content: '\e88d'; } /* '' */
.icon-location-outline:before { content: '\e88e'; } /* '' */
.icon-log-out-outline:before { content: '\e88f'; } /* '' */
.icon-login-fill:before { content: '\e890'; } /* '' */
.icon-login-outline:before { content: '\e891'; } /* '' */
.icon-logout-fill:before { content: '\e892'; } /* '' */
.icon-menu-fill:before { content: '\e893'; } /* '' */
.icon-menu-outline:before { content: '\e894'; } /* '' */
.icon-minimize-fill:before { content: '\e895'; } /* '' */
.icon-minimize-outline:before { content: '\e896'; } /* '' */
.icon-minus-fill:before { content: '\e897'; } /* '' */
.icon-minus-outline:before { content: '\e898'; } /* '' */
.icon-move-fill:before { content: '\e899'; } /* '' */
.icon-move-outline:before { content: '\e89a'; } /* '' */
.icon-news-fill:before { content: '\e89b'; } /* '' */
.icon-news-outline:before { content: '\e89c'; } /* '' */
.icon-notification-fill:before { content: '\e89d'; } /* '' */
.icon-notification-outline:before { content: '\e89e'; } /* '' */
.icon-pause-fill:before { content: '\e89f'; } /* '' */
.icon-pause-outline:before { content: '\e8a0'; } /* '' */
.icon-pdf-fill:before { content: '\e8a1'; } /* '' */
.icon-pdf-outline:before { content: '\e8a2'; } /* '' */
.icon-person-fill:before { content: '\e8a3'; } /* '' */
.icon-person-outline:before { content: '\e8a4'; } /* '' */
.icon-physician-fill:before { content: '\e8a5'; } /* '' */
.icon-physician-outline:before { content: '\e8a6'; } /* '' */
.icon-pie-chart-fill:before { content: '\e8a7'; } /* '' */
.icon-pie-chart-outline:before { content: '\e8a8'; } /* '' */
.icon-plus-fill:before { content: '\e8a9'; } /* '' */
.icon-plus-outline:before { content: '\e8aa'; } /* '' */
.icon-ppt-fill:before { content: '\e8ab'; } /* '' */
.icon-ppt-outline:before { content: '\e8ac'; } /* '' */
.icon-printer-fill:before { content: '\e8ad'; } /* '' */
.icon-printer-outline:before { content: '\e8ae'; } /* '' */
.icon-rating-fill:before { content: '\e8af'; } /* '' */
.icon-rating-outline:before { content: '\e8b0'; } /* '' */
.icon-refresh-fill:before { content: '\e8b1'; } /* '' */
.icon-refresh-outline:before { content: '\e8b2'; } /* '' */
.icon-right-chevron-circle-fill:before { content: '\e8b3'; } /* '' */
.icon-right-chevron-circle-outline:before { content: '\e8b4'; } /* '' */
.icon-right-chevron-fill:before { content: '\e8b5'; } /* '' */
.icon-right-chevron-outline:before { content: '\e8b6'; } /* '' */
.icon-save-fill:before { content: '\e8b7'; } /* '' */
.icon-save-outline:before { content: '\e8b8'; } /* '' */
.icon-search-fill:before { content: '\e8b9'; } /* '' */
.icon-search-outline:before { content: '\e8ba'; } /* '' */
.icon-setting-fill:before { content: '\e8bb'; } /* '' */
.icon-setting-outline:before { content: '\e8bc'; } /* '' */
.icon-share-fill:before { content: '\e8bd'; } /* '' */
.icon-share-outline:before { content: '\e8be'; } /* '' */
.icon-transform-outline:before { content: '\e8bf'; } /* '' */
.icon-visitor-outline:before { content: '\e8c0'; } /* '' */
.icon-pencil-fill:before { content: '\e8c1'; } /* '' */
.icon-pencil-outline:before { content: '\e8c2'; } /* '' */
.icon-sorting-fill:before { content: '\e8c3'; } /* '' */
.icon-sorting-outline:before { content: '\e8c4'; } /* '' */
.icon-spark-line-fill:before { content: '\e8c5'; } /* '' */
.icon-spark-line-outline:before { content: '\e8c6'; } /* '' */
.icon-spider-chart-fill:before { content: '\e8c7'; } /* '' */
.icon-spider-chart-outline:before { content: '\e8c8'; } /* '' */
.icon-survey-checkmark-fill:before { content: '\e8c9'; } /* '' */
.icon-survey-checkmark-outline:before { content: '\e8ca'; } /* '' */
.icon-survey-fill:before { content: '\e8cb'; } /* '' */
.icon-survey-outline:before { content: '\e8cc'; } /* '' */
.icon-table-data-fill:before { content: '\e8cd'; } /* '' */
.icon-table-data-outline:before { content: '\e8ce'; } /* '' */
.icon-target-fill:before { content: '\e8cf'; } /* '' */
.icon-target-outline:before { content: '\e8d0'; } /* '' */
.icon-thumb-down-fill:before { content: '\e8d1'; } /* '' */
.icon-thumb-down-outline:before { content: '\e8d2'; } /* '' */
.icon-thumb-up-fill:before { content: '\e8d3'; } /* '' */
.icon-thumb-up-outline:before { content: '\e8d4'; } /* '' */
.icon-time-fill:before { content: '\e8d5'; } /* '' */
.icon-time-outline:before { content: '\e8d6'; } /* '' */
.icon-toggle-fill:before { content: '\e8d7'; } /* '' */
.icon-toggle-outline:before { content: '\e8d8'; } /* '' */
.icon-up-chevron-circle-fill:before { content: '\e8d9'; } /* '' */
.icon-up-chevron-circle-outline:before { content: '\e8da'; } /* '' */
.icon-up-chevron-fill:before { content: '\e8db'; } /* '' */
.icon-up-chevron-outline:before { content: '\e8dc'; } /* '' */
.icon-upload-fill:before { content: '\e8dd'; } /* '' */
.icon-upload-light-fill:before { content: '\e8de'; } /* '' */
.icon-download-light-outline:before { content: '\e8df'; } /* '' */
.icon-upload-outline:before { content: '\e8e0'; } /* '' */
.icon-uptrend-fill:before { content: '\e8e1'; } /* '' */
.icon-uptrend-outline:before { content: '\e8e2'; } /* '' */
.icon-venn-ab-horizontal-fill:before { content: '\e8e3'; } /* '' */
.icon-venn-ab-horizontal-outline:before { content: '\e8e4'; } /* '' */
.icon-venn-ab-vertical-fill:before { content: '\e8e5'; } /* '' */
.icon-venn-ab-vertical-outline:before { content: '\e8e6'; } /* '' */
.icon-venn-abc-fill:before { content: '\e8e7'; } /* '' */
.icon-venn-abc-outline:before { content: '\e8e8'; } /* '' */
.icon-venn-abc-reversed-fill:before { content: '\e8e9'; } /* '' */
.icon-venn-abc-reversed-outline:before { content: '\e8ea'; } /* '' */
.icon-vertical-more-fill:before { content: '\e8eb'; } /* '' */
.icon-vertical-more-outline:before { content: '\e8ec'; } /* '' */
.icon-view-fill:before { content: '\e8ed'; } /* '' */
.icon-view-outline:before { content: '\e8ee'; } /* '' */
.icon-volume-on-fill:before { content: '\e8ef'; } /* '' */
.icon-volume-off-fill:before { content: '\e8f0'; } /* '' */
.icon-volume-off-outline:before { content: '\e8f1'; } /* '' */
.icon-volume-on-outline:before { content: '\e8f2'; } /* '' */
.icon-volume-up-fill:before { content: '\e8f3'; } /* '' */
.icon-volume-up-outline:before { content: '\e8f4'; } /* '' */
.icon-xls-fill:before { content: '\e8f5'; } /* '' */
.icon-xls-outline:before { content: '\e8f6'; } /* '' */
.icon-tag-fill:before { content: '\e8f7'; } /* '' */
.icon-calendar-accepted-fill:before { content: '\e8f8'; } /* '' */
.icon-call-fill:before { content: '\e8fa'; } /* '' */
.icon-capital-fill:before { content: '\e8fb'; } /* '' */
.icon-change-fill:before { content: '\e8fc'; } /* '' */
.icon-community-fill:before { content: '\e8fd'; } /* '' */
.icon-desktop-fill:before { content: '\e8fe'; } /* '' */
.icon-digital-transformation-fill:before { content: '\e8ff'; } /* '' */
.icon-entrepreneur-fill:before { content: '\e900'; } /* '' */
.icon-family-fill:before { content: '\e901'; } /* '' */
.icon-fnb-fill:before { content: '\e902'; } /* '' */
.icon-governance-fill:before { content: '\e903'; } /* '' */
.icon-grow-revenue-fill:before { content: '\e904'; } /* '' */
.icon-growth-fill:before { content: '\e905'; } /* '' */
.icon-idcard-fill:before { content: '\e906'; } /* '' */
.icon-infinity-fill:before { content: '\e907'; } /* '' */
.icon-leader-fill:before { content: '\e908'; } /* '' */
.icon-tag-outline:before { content: '\e909'; } /* '' */
.icon-management-fill:before { content: '\e90a'; } /* '' */
.icon-network-fill:before { content: '\e90b'; } /* '' */
.icon-partership-fill:before { content: '\e90c'; } /* '' */
.icon-play-fill:before { content: '\e90d'; } /* '' */
.icon-profitability-fill:before { content: '\e90e'; } /* '' */
.icon-purpose-fill:before { content: '\e90f'; } /* '' */
.icon-radio-fill:before { content: '\e910'; } /* '' */
.icon-revenue-fill:before { content: '\e911'; } /* '' */
.icon-service-fill:before { content: '\e912'; } /* '' */
.icon-shopping-bag-fill:before { content: '\e913'; } /* '' */
.icon-shopping-cart-fill:before { content: '\e914'; } /* '' */
.icon-sorting-ascendant-fill:before { content: '\e915'; } /* '' */
.icon-sorting-descendant-fill:before { content: '\e916'; } /* '' */
.icon-stewardship-fill:before { content: '\e917'; } /* '' */
.icon-talent-fill:before { content: '\e918'; } /* '' */
.icon-ticket-fill:before { content: '\e919'; } /* '' */
.icon-transform-fill:before { content: '\e91a'; } /* '' */
.icon-visitor-fill:before { content: '\e91b'; } /* '' */
.icon-wait-fill:before { content: '\e91c'; } /* '' */
.icon-wealth-fill:before { content: '\e91d'; } /* '' */
.icon-calendar-accepted-outline:before { content: '\e91e'; } /* '' */
.icon-calendar-declined-outline:before { content: '\e91f'; } /* '' */
.icon-call-outline:before { content: '\e920'; } /* '' */
.icon-capital-outline:before { content: '\e921'; } /* '' */
.icon-change-outline:before { content: '\e922'; } /* '' */
.icon-community-outline:before { content: '\e923'; } /* '' */
.icon-desktop-outline:before { content: '\e924'; } /* '' */
.icon-digital-transformation-outline:before { content: '\e925'; } /* '' */
.icon-entrepreneur-outline:before { content: '\e926'; } /* '' */
.icon-family-outline:before { content: '\e927'; } /* '' */
.icon-fnb-outline:before { content: '\e928'; } /* '' */
.icon-governance-outline:before { content: '\e929'; } /* '' */
.icon-grow-revenue-outline:before { content: '\e92a'; } /* '' */
.icon-growth-outline:before { content: '\e92b'; } /* '' */
.icon-idcard-outline:before { content: '\e92c'; } /* '' */
.icon-infinity-outline:before { content: '\e92d'; } /* '' */
.icon-leader-outline:before { content: '\e92e'; } /* '' */
.icon-management-outline:before { content: '\e930'; } /* '' */
.icon-network-outline:before { content: '\e931'; } /* '' */
.icon-partership-outline:before { content: '\e932'; } /* '' */
.icon-play-outline:before { content: '\e933'; } /* '' */
.icon-profitability-outline:before { content: '\e934'; } /* '' */
.icon-purpose-outline:before { content: '\e935'; } /* '' */
.icon-radio-outline:before { content: '\e936'; } /* '' */
.icon-revenue-outline:before { content: '\e937'; } /* '' */
.icon-service-outline:before { content: '\e938'; } /* '' */
.icon-shopping-bag-outline:before { content: '\e939'; } /* '' */
.icon-shopping-cart-outline:before { content: '\e93a'; } /* '' */
.icon-sorting-ascendant-outline:before { content: '\e93b'; } /* '' */
.icon-sorting-descendant-outline:before { content: '\e93c'; } /* '' */
.icon-stewardship-outline:before { content: '\e93d'; } /* '' */
.icon-talent-outline:before { content: '\e93e'; } /* '' */
.icon-ticket-outline:before { content: '\e93f'; } /* '' */
.icon-location-locked-fill:before { content: '\e940'; } /* '' */
.icon-location-locked-outline:before { content: '\e941'; } /* '' */
.icon-wait-outline:before { content: '\e942'; } /* '' */
.icon-wealth-outline:before { content: '\e943'; } /* '' */
.icon-xbrl-fill:before { content: '\e944'; } /* '' */
.icon-workflow-fill:before { content: '\e945'; } /* '' */
.icon-woman-fill:before { content: '\e946'; } /* '' */
.icon-windmill-fill:before { content: '\e947'; } /* '' */
.icon-wifi-fill:before { content: '\e948'; } /* '' */
.icon-umbrella-fill:before { content: '\e949'; } /* '' */
.icon-thermometer-fill:before { content: '\e94a'; } /* '' */
.icon-telecom-fill:before { content: '\e94b'; } /* '' */
.icon-tanker-fill:before { content: '\e94c'; } /* '' */
.icon-speedometer-fill:before { content: '\e94e'; } /* '' */
.icon-signpost-fill:before { content: '\e94f'; } /* '' */
.icon-shuttlebus-fill:before { content: '\e950'; } /* '' */
.icon-shoppingbasket-fill:before { content: '\e951'; } /* '' */
.icon-shower-fill:before { content: '\e952'; } /* '' */
.icon-ship-fill:before { content: '\e953'; } /* '' */
.icon-shareios-fill:before { content: '\e954'; } /* '' */
.icon-service--fill:before { content: '\e955'; } /* '' */
.icon-serenityspace-fill:before { content: '\e956'; } /* '' */
.icon-savings-fill:before { content: '\e957'; } /* '' */
.icon-screenmirroring-fill:before { content: '\e958'; } /* '' */
.icon-savemoney-fill:before { content: '\e959'; } /* '' */
.icon-realestate-fill:before { content: '\e95a'; } /* '' */
.icon-query-fill:before { content: '\e95b'; } /* '' */
.icon-qrcode-fill:before { content: '\e95c'; } /* '' */
.icon-projector-fill:before { content: '\e95d'; } /* '' */
.icon-productivity-fill:before { content: '\e95e'; } /* '' */
.icon-prescription-pharmacy-fill:before { content: '\e95f'; } /* '' */
.icon-webcaststudio-fill:before { content: '\e960'; } /* '' */
.icon-powerplant-fill:before { content: '\e961'; } /* '' */
.icon-powerport-plug-outlet-fill:before { content: '\e962'; } /* '' */
.icon-powerbi-fill:before { content: '\e963'; } /* '' */
.icon-powerbutton-fill:before { content: '\e964'; } /* '' */
.icon-platform-fill:before { content: '\e967'; } /* '' */
.icon-payment-fill:before { content: '\e968'; } /* '' */
.icon-particulates-fill:before { content: '\e96a'; } /* '' */
.icon-parks-outdoors-fill:before { content: '\e96b'; } /* '' */
.icon-paperairplanefill:before { content: '\e96c'; } /* '' */
.icon-openinnewwindow-fill:before { content: '\e96d'; } /* '' */
.icon-oiltank-fill:before { content: '\e96e'; } /* '' */
.icon-oilplatform-fill:before { content: '\e96f'; } /* '' */
.icon-oilpipeline-fill:before { content: '\e970'; } /* '' */
.icon-notpublished-fill:before { content: '\e971'; } /* '' */
.icon-office-fill:before { content: '\e972'; } /* '' */
.icon-noteplus-fill:before { content: '\e973'; } /* '' */
.icon-notebook-fill:before { content: '\e974'; } /* '' */
.icon-newsreport-fill:before { content: '\e975'; } /* '' */
.icon-note-fill:before { content: '\e976'; } /* '' */
.icon-neighborhood-fill:before { content: '\e977'; } /* '' */
.icon-mortgagepayment-fill:before { content: '\e978'; } /* '' */
.icon-networkport-fill:before { content: '\e979'; } /* '' */
.icon-mortgage-fill:before { content: '\e97a'; } /* '' */
.icon-microphone-fill:before { content: '\e97b'; } /* '' */
.icon-menuview-fill:before { content: '\e97d'; } /* '' */
.icon-meetingroom-fill:before { content: '\e97f'; } /* '' */
.icon-meeting-fill:before { content: '\e980'; } /* '' */
.icon-manufacturer-fill:before { content: '\e981'; } /* '' */
.icon-manandwoman-fill:before { content: '\e982'; } /* '' */
.icon-marketing-fill:before { content: '\e983'; } /* '' */
.icon-man-fill:before { content: '\e984'; } /* '' */
.icon-malesymbol-fill:before { content: '\e985'; } /* '' */
.icon-lockopen-unlock-fill:before { content: '\e986'; } /* '' */
.icon-lockers-fill:before { content: '\e987'; } /* '' */
.icon-lockclosed-locked-fill:before { content: '\e988'; } /* '' */
.icon-linkunlinked-fill:before { content: '\e989'; } /* '' */
.icon-lightbulb-fill:before { content: '\e98a'; } /* '' */
.icon-linkbroken-fill:before { content: '\e98b'; } /* '' */
.icon-lifeinsurance-fill:before { content: '\e98c'; } /* '' */
.icon-library-fill:before { content: '\e98d'; } /* '' */
.icon-library-reports-fill:before { content: '\e98e'; } /* '' */
.icon-keyboard-fill:before { content: '\e98f'; } /* '' */
.icon-labs-fill:before { content: '\e990'; } /* '' */
.icon-layout-fill:before { content: '\e991'; } /* '' */
.icon-jewelry-fill:before { content: '\e992'; } /* '' */
.icon-immersivetechnology-fill:before { content: '\e993'; } /* '' */
.icon-spinner-fill:before { content: '\e994'; } /* '' */
.icon-hand-fill:before { content: '\e995'; } /* '' */
.icon-hub-fill:before { content: '\e996'; } /* '' */
.icon-ganttchart-fill:before { content: '\e997'; } /* '' */
.icon-genderneutral-fill:before { content: '\e998'; } /* '' */
.icon-gameroom-fill:before { content: '\e999'; } /* '' */
.icon-weight-fill:before { content: '\e99a'; } /* '' */
.icon-waterdrop-fill:before { content: '\e99b'; } /* '' */
.icon-wallet-fill:before { content: '\e99c'; } /* '' */
.icon-walkingworkstation-fill:before { content: '\e99d'; } /* '' */
.icon-typography-fonts-fill:before { content: '\e9a0'; } /* '' */
.icon-video-fill:before { content: '\e9a1'; } /* '' */
.icon-truckconnected-fill:before { content: '\e9a2'; } /* '' */
.icon-truck-fill:before { content: '\e9a3'; } /* '' */
.icon-transformv-fill:before { content: '\e9a4'; } /* '' */
.icon-videoconference-fill:before { content: '\e9a5'; } /* '' */
.icon-foodbeverage-fill:before { content: '\e9a6'; } /* '' */
.icon-train-railway-fill:before { content: '\e9a7'; } /* '' */
.icon-folderdelete-fill:before { content: '\e9a8'; } /* '' */
.icon-folderadd-fill:before { content: '\e9a9'; } /* '' */
.icon-flag-fill:before { content: '\e9aa'; } /* '' */
.icon-firstaid-fill:before { content: '\e9ab'; } /* '' */
.icon-firehose-fill:before { content: '\e9ac'; } /* '' */
.icon-fireextinguisher-fill:before { content: '\e9ad'; } /* '' */
.icon-fireexit-fill:before { content: '\e9ae'; } /* '' */
.icon-femalesymbol-fill:before { content: '\e9af'; } /* '' */
.icon-extension-fill:before { content: '\e9b0'; } /* '' */
.icon-exit-fill:before { content: '\e9b1'; } /* '' */
.icon-engagement-fill:before { content: '\e9b2'; } /* '' */
.icon-elevator-fill:before { content: '\e9b3'; } /* '' */
.icon-education-fill:before { content: '\e9b4'; } /* '' */
.icon-displaypower-fill:before { content: '\e9b5'; } /* '' */
.icon-disabilityinsurance-fill:before { content: '\e9b6'; } /* '' */
.icon-dining-fill:before { content: '\e9b7'; } /* '' */
.icon-digital-techtransformation-fill:before { content: '\e9b8'; } /* '' */
.icon-dial-medium-fill:before { content: '\e9b9'; } /* '' */
.icon-dial-low-fill:before { content: '\e9ba'; } /* '' */
.icon-dial-high-fill:before { content: '\e9bb'; } /* '' */
.icon-deskchair-fill:before { content: '\e9bc'; } /* '' */
.icon-debt-free-fill:before { content: '\e9bd'; } /* '' */
.icon-database-fill:before { content: '\e9be'; } /* '' */
.icon-data-fill:before { content: '\e9bf'; } /* '' */
.icon-creditcardpayment-fill:before { content: '\e9c0'; } /* '' */
.icon-creditcard-fill:before { content: '\e9c1'; } /* '' */
.icon-cost-dollar-fill:before { content: '\e9c2'; } /* '' */
.icon-contacts-fill:before { content: '\e9c3'; } /* '' */
.icon-configuration-fill:before { content: '\e9c4'; } /* '' */
.icon-cogs-fill:before { content: '\e9c5'; } /* '' */
.icon-circuitboardbox-fill:before { content: '\e9c6'; } /* '' */
.icon-circlepercent-fill:before { content: '\e9c7'; } /* '' */
.icon-chevrondoubledown-fill:before { content: '\e9c8'; } /* '' */
.icon-carersspace-fill:before { content: '\e9ca'; } /* '' */
.icon-camera-mic-speakers-fill:before { content: '\e9cb'; } /* '' */
.icon-calculator-fill:before { content: '\e9ce'; } /* '' */
.icon-touchscreen-fill:before { content: '\e9cf'; } /* '' */
.icon-businessservices-printer-fill:before { content: '\e9d0'; } /* '' */
.icon-bus-publictransportation-fill:before { content: '\e9d1'; } /* '' */
.icon-bridgechart-fill:before { content: '\e9d3'; } /* '' */
.icon-box-open-fill:before { content: '\e9d4'; } /* '' */
.icon-box-fill:before { content: '\e9d5'; } /* '' */
.icon-bot-fill:before { content: '\e9d6'; } /* '' */
.icon-boat-fill:before { content: '\e9d7'; } /* '' */
.icon-beaker-fill:before { content: '\e9d8'; } /* '' */
.icon-battery-medium-fill:before { content: '\e9d9'; } /* '' */
.icon-battery-low-fill:before { content: '\e9da'; } /* '' */
.icon-battery-high-fill:before { content: '\e9db'; } /* '' */
.icon-automobile-fill:before { content: '\e9dc'; } /* '' */
.icon-atm-fill:before { content: '\e9dd'; } /* '' */
.icon-art-themes-fill:before { content: '\e9de'; } /* '' */
.icon-arrowup-fill:before { content: '\e9df'; } /* '' */
.icon-arrowright-fill:before { content: '\e9e0'; } /* '' */
.icon-arrowleft-fill:before { content: '\e9e1'; } /* '' */
.icon-arrowincrease-fill:before { content: '\e9e2'; } /* '' */
.icon-arrowdown-fill:before { content: '\e9e3'; } /* '' */
.icon-arrowdecrease-fill:before { content: '\e9e4'; } /* '' */
.icon-apparel-fill:before { content: '\e9e5'; } /* '' */
.icon-xbrl-outline:before { content: '\e9e6'; } /* '' */
.icon-workflow-outline:before { content: '\e9e7'; } /* '' */
.icon-woman-outline:before { content: '\e9e8'; } /* '' */
.icon-windmill-outline:before { content: '\e9e9'; } /* '' */
.icon-wifi-outline:before { content: '\e9ea'; } /* '' */
.icon-weight-outline:before { content: '\e9eb'; } /* '' */
.icon-webcaststudio-outline:before { content: '\e9ec'; } /* '' */
.icon-waterdrop-outline:before { content: '\e9ed'; } /* '' */
.icon-wallet-outline:before { content: '\e9ee'; } /* '' */
.icon-walkingworkstation-outline:before { content: '\e9ef'; } /* '' */
.icon-videoconference-outline:before { content: '\e9f1'; } /* '' */
.icon-video-outline:before { content: '\e9f2'; } /* '' */
.icon-umbrella-outline:before { content: '\e9f3'; } /* '' */
.icon-typography-fonts-outline:before { content: '\e9f4'; } /* '' */
.icon-truckconnected-outline:before { content: '\e9f5'; } /* '' */
.icon-truck-outline:before { content: '\e9f6'; } /* '' */
.icon-train-railway-outline:before { content: '\e9f7'; } /* '' */
.icon-touchscreen-outline:before { content: '\e9f8'; } /* '' */
.icon-thermometer-outline:before { content: '\e9f9'; } /* '' */
.icon-telecom-outline:before { content: '\e9fa'; } /* '' */
.icon-tanker-outline:before { content: '\e9fb'; } /* '' */
.icon-tabledata-outline:before { content: '\e9fd'; } /* '' */
.icon-star-outline:before { content: '\e9ff'; } /* '' */
.icon-speedometer-outline:before { content: '\ea00'; } /* '' */
.icon-signpost-outline:before { content: '\ea01'; } /* '' */
.icon-shuttlebus-outline:before { content: '\ea02'; } /* '' */
.icon-shower-outline:before { content: '\ea03'; } /* '' */
.icon-shoppingbasket-outline:before { content: '\ea04'; } /* '' */
.icon-ship-outline:before { content: '\ea05'; } /* '' */
.icon-serenityspace-outline:before { content: '\ea06'; } /* '' */
.icon-screenmirroring-outline:before { content: '\ea07'; } /* '' */
.icon-savings-outline:before { content: '\ea08'; } /* '' */
.icon-savemoney-outline:before { content: '\ea09'; } /* '' */
.icon-realestate-outline:before { content: '\ea0a'; } /* '' */
.icon-query-outline:before { content: '\ea0b'; } /* '' */
.icon-qrcode-outline:before { content: '\ea0c'; } /* '' */
.icon-projector-outline:before { content: '\ea0d'; } /* '' */
.icon-productivity-outline:before { content: '\ea0e'; } /* '' */
.icon-prescription-outline:before { content: '\ea0f'; } /* '' */
.icon-powerport-plug-outlet-outline:before { content: '\ea11'; } /* '' */
.icon-powerplant-outline:before { content: '\ea12'; } /* '' */
.icon-powerbutton-outline:before { content: '\ea13'; } /* '' */
.icon-powerbi-outline:before { content: '\ea14'; } /* '' */
.icon-platform-outline:before { content: '\ea16'; } /* '' */
.icon-payment-outline:before { content: '\ea17'; } /* '' */
.icon-particulates-outline:before { content: '\ea19'; } /* '' */
.icon-parks-outdoors-outline:before { content: '\ea1a'; } /* '' */
.icon-paperairplane-outline:before { content: '\ea1b'; } /* '' */
.icon-openinnewwindow-outline:before { content: '\ea1c'; } /* '' */
.icon-oiltank-outline:before { content: '\ea1d'; } /* '' */
.icon-oilplatform-outline:before { content: '\ea1e'; } /* '' */
.icon-oilpipeline-outline:before { content: '\ea1f'; } /* '' */
.icon-office-outline:before { content: '\ea20'; } /* '' */
.icon-notpublished-outline:before { content: '\ea21'; } /* '' */
.icon-noteplus-outline:before { content: '\ea22'; } /* '' */
.icon-notebook-outline:before { content: '\ea23'; } /* '' */
.icon-note-outline:before { content: '\ea24'; } /* '' */
.icon-newsreport-outline:before { content: '\ea25'; } /* '' */
.icon-networkport-outline:before { content: '\ea26'; } /* '' */
.icon-neighborhood-outline:before { content: '\ea27'; } /* '' */
.icon-mortgagepayment-outline:before { content: '\ea28'; } /* '' */
.icon-mortgage-outline:before { content: '\ea29'; } /* '' */
.icon-microphone-outline:before { content: '\ea2a'; } /* '' */
.icon-menuview-outline:before { content: '\ea2b'; } /* '' */
.icon-meetingroom-outline:before { content: '\ea2c'; } /* '' */
.icon-meeting-outline:before { content: '\ea2d'; } /* '' */
.icon-marketing-outline:before { content: '\ea2e'; } /* '' */
.icon-manufacturer-outline:before { content: '\ea2f'; } /* '' */
.icon-manandwoman-outline:before { content: '\ea30'; } /* '' */
.icon-man-outline:before { content: '\ea32'; } /* '' */
.icon-malesymbol-outline:before { content: '\ea33'; } /* '' */
.icon-lockopen-unlock-outline:before { content: '\ea34'; } /* '' */
.icon-lockers-outline:before { content: '\ea35'; } /* '' */
.icon-lockclosed-locked-outline:before { content: '\ea36'; } /* '' */
.icon-listview-outline:before { content: '\ea37'; } /* '' */
.icon-linkunlinked-outline:before { content: '\ea38'; } /* '' */
.icon-linkbroken-outline:before { content: '\ea39'; } /* '' */
.icon-lightbulb-outline:before { content: '\ea3a'; } /* '' */
.icon-lifeinsurance-outline:before { content: '\ea3b'; } /* '' */
.icon-library-reports-outline:before { content: '\ea3c'; } /* '' */
.icon-library-outline:before { content: '\ea3d'; } /* '' */
.icon-layout-outline:before { content: '\ea3f'; } /* '' */
.icon-labs-outline:before { content: '\ea40'; } /* '' */
.icon-keyboard-outline:before { content: '\ea41'; } /* '' */
.icon-jewelry-outline:before { content: '\ea42'; } /* '' */
.icon-immersivetechnology-outline:before { content: '\ea43'; } /* '' */
.icon-spinner-outline:before { content: '\ea44'; } /* '' */
.icon-hub-outline:before { content: '\ea45'; } /* '' */
.icon-hand-outline:before { content: '\ea46'; } /* '' */
.icon-genderneutral-outline:before { content: '\ea47'; } /* '' */
.icon-ganttchart-outline:before { content: '\ea48'; } /* '' */
.icon-gameroom-outline:before { content: '\ea49'; } /* '' */
.icon-folderdelete-outline:before { content: '\ea4a'; } /* '' */
.icon-folderadd-outline:before { content: '\ea4b'; } /* '' */
.icon-flag-outline:before { content: '\ea4c'; } /* '' */
.icon-firstaid-outline:before { content: '\ea4d'; } /* '' */
.icon-firehose-outline:before { content: '\ea4e'; } /* '' */
.icon-fireextinguisher-outline:before { content: '\ea4f'; } /* '' */
.icon-fireexit-outline:before { content: '\ea50'; } /* '' */
.icon-femalesymbol-outline:before { content: '\ea51'; } /* '' */
.icon-extension-outline:before { content: '\ea52'; } /* '' */
.icon-exit-outline:before { content: '\ea53'; } /* '' */
.icon-engagement-outline:before { content: '\ea54'; } /* '' */
.icon-elevator-outline:before { content: '\ea55'; } /* '' */
.icon-education-outline:before { content: '\ea56'; } /* '' */
.icon-displaypower-outline:before { content: '\ea57'; } /* '' */
.icon-disabilityinsurance-outline:before { content: '\ea58'; } /* '' */
.icon-dining-outline:before { content: '\ea59'; } /* '' */
.icon-dial-medium-outline:before { content: '\ea5a'; } /* '' */
.icon-dial-low-outline:before { content: '\ea5b'; } /* '' */
.icon-dial-high-outline:before { content: '\ea5c'; } /* '' */
.icon-deskchair-outline:before { content: '\ea5d'; } /* '' */
.icon-debt-free-outline:before { content: '\ea5e'; } /* '' */
.icon-database-outline:before { content: '\ea5f'; } /* '' */
.icon-data-outline:before { content: '\ea60'; } /* '' */
.icon-creditcardpayment-outline:before { content: '\ea61'; } /* '' */
.icon-creditcard-outline:before { content: '\ea62'; } /* '' */
.icon-cost-dollar-outline:before { content: '\ea63'; } /* '' */
.icon-contacts-outline:before { content: '\ea64'; } /* '' */
.icon-configuration-outline:before { content: '\ea65'; } /* '' */
.icon-cogs-outline:before { content: '\ea66'; } /* '' */
.icon-circuitboardbox-outline:before { content: '\ea67'; } /* '' */
.icon-circlepercent-outline:before { content: '\ea68'; } /* '' */
.icon-chevrondoubledown-outline:before { content: '\ea69'; } /* '' */
.icon-check-hook-outline:before { content: '\ea6a'; } /* '' */
.icon-carersspace-outline:before { content: '\ea6c'; } /* '' */
.icon-camera-mic-speakers-outline:before { content: '\ea6e'; } /* '' */
.icon-calculator-outline:before { content: '\ea70'; } /* '' */
.icon-businessservices-printer-outline:before { content: '\ea71'; } /* '' */
.icon-bus-publictransportation-outline:before { content: '\ea72'; } /* '' */
.icon-bridgechart-outline:before { content: '\ea74'; } /* '' */
.icon-box-outline:before { content: '\ea75'; } /* '' */
.icon-box-open-outline:before { content: '\ea76'; } /* '' */
.icon-bot-outline:before { content: '\ea77'; } /* '' */
.icon-boat-outline:before { content: '\ea78'; } /* '' */
.icon-beaker-outline:before { content: '\ea79'; } /* '' */
.icon-battery-medium-outline:before { content: '\ea7a'; } /* '' */
.icon-battery-low-outline:before { content: '\ea7b'; } /* '' */
.icon-battery-high-outline:before { content: '\ea7c'; } /* '' */
.icon-bargraph-outline:before { content: '\ea7d'; } /* '' */
.icon-automobile-outline:before { content: '\ea7e'; } /* '' */
.icon-atm-outline:before { content: '\ea7f'; } /* '' */
.icon-art-themes-outline:before { content: '\ea80'; } /* '' */
.icon-arrowup-outline:before { content: '\ea81'; } /* '' */
.icon-arrowright-outline:before { content: '\ea82'; } /* '' */
.icon-arrowleft-outline:before { content: '\ea83'; } /* '' */
.icon-arrowincrease-outline:before { content: '\ea84'; } /* '' */
.icon-arrowdown-outline:before { content: '\ea85'; } /* '' */
.icon-arrowdecrease-outline:before { content: '\ea86'; } /* '' */
.icon-apparel-outline:before { content: '\ea87'; } /* '' */
.icon-3by3grid-outline:before { content: '\ea88'; } /* '' */
.icon-calendar-declined-fill:before { content: '\ebcc'; } /* '' */