<!DOCTYPE html>
<html>

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-H0NW5Z2MYC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H0NW5Z2MYC');
  </script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The question answering system about IUH</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/logo2.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">
  <style>
    #hero #custom-btn{
      width: 100px;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 12px;
      color: #fff;
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;
      background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
    }

    #hero #custom-btn:hover{
      background: linear-gradient(135deg,#df9321 0%,#034be6 100%);
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header-transparent">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/"><img src="../static/img/Logo_IUH.png"/></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="about">About App</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <div id="hero">
    <div id="hero2" class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <form  action="/result" method=POST>
          <div class="form-group">
            <label for="input_sentence" style="color: yellowgreen; font-weight: 510;">Nhập câu hỏi vào đây:</label>
            <textarea class="form-control" id="input_sentence" rows="3" style="width: 700px;" name="input_sentence" placeholder="Vui lòng nhập câu hỏi!">{{question}}</textarea>
          </div>
          <div>
            <button id="custom-btn">Submit</button>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea2" style="color:tomato; margin-top: 15px;font-weight: 510;">Trả lời:</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="7" style="width: 700px;" disabled>{{answer}}</textarea>
          </div>
        </form>
      </div>
    </div>
  </div><!-- End Hero Section -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/superfish/superfish.min.js"></script>
  <script src="../static/vendor/hoverIntent/hoverIntent.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
</body>

</html>